$black: #000;

$off-black: #222;
$dark-grey: #444;
$mid-grey: #888;
$off-white: #bbb;
$light-grey: #ddd;

$white: #fff;

$blue: #2020ff;
$dark-blue: #080840;
$red: #ff2020;
$dark-red: #400808;
$green: #20ff20;
$dark-green: #084008;
$yellow: #ffff20;
$dark-yellow: #444008;
