@import '../styles/variables';

.two-card-split {
    $column-spacing: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $column-spacing;

    width: 100%;

    @media screen and (max-width: #{2 * $mobile-first-pixel}) {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-column-gap: 0;
    }
}
