@import '../../styles/colours';
@import '../../styles/properties';
@import '../../styles/variables';
@import '../tag-colours';

.project {
    position: relative;

    display: block;
    width: 100%;
    min-width: 0;
    margin: 2rem 0 0;
    padding: 2rem;

    background-color: $off-black;
    overflow: hidden;

    @media screen and (min-width: $laptop-first-pixel) {
        padding: 2rem 4rem;
    }

    @media screen and (max-width: $tablet-last-pixel) {
        max-width: 36rem;
    }

    @media screen and (max-width: #{2 * $mobile-first-pixel}) {
        margin: 2rem auto 0;
    }

    &.-fade-in {
        animation: fade_in 300ms forwards;
    }

    &.-fade-out {
        animation: fade_out 300ms forwards;
    }

    @keyframes fade_in {
        0% {
            display: block;
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes fade_out {
        0% {
            opacity: 1;
        }
        100% {
            display: none;
            opacity: 0;
        }
    }

    .github-link {
        position: absolute;
        top: 0;
        left: 0;
        height: 2rem;
        width: 2rem;
        padding: 0.25rem 0.625rem 0.625rem 0.25rem;

        display: block;

        background-color: $mid-grey;

        &:after {
            content: '';

            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            height: 0;

            border-style: solid;
            border-width: 0 0 1.5rem 1.5rem;
            border-color: transparent transparent $off-black transparent;
        }
    }

    .name-grid {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas: 'name state';
        grid-column-gap: 0.5rem;
        align-items: center;

        .name {
            grid-area: name;

            line-height: 1.5rem;
            font-size: 1.25rem;
            font-weight: $bold;
        }

        .state {
            grid-area: state;

            width: fit-content;

            font-size: 0.5rem;
            padding: 0.25rem 0.5rem;
            background-color: $dark-grey;
            text-transform: uppercase;
            font-weight: $bold;
            letter-spacing: 0.0625rem;

            @include state_colours(background-color);
        }
    }

    .keywords {
        margin: 0.5rem 0 0;
        padding: 0;

        list-style: none;

        .keyword {
            display: inline-block;
            margin-right: 0.25rem;
            width: fit-content;

            font-size: 0.5rem;
            padding: 0.25rem 0.5rem;
            background-color: $dark-grey;
            text-transform: uppercase;
            font-weight: $bold;
            letter-spacing: #{2 * $one-px};

            @include keyword_colours(background-color);
        }
    }

    .description {
        margin-top: 1rem;

        font-size: 0.875rem;
        letter-spacing: #{2 * $one-px};
    }

    .todos-title {
        margin-top: 1rem;

        text-transform: uppercase;
        font-weight: $bold;
        font-size: 0.75rem;
        letter-spacing: #{2 * $one-px};
    }

    .todos {
        list-style: none;
        margin: 0.25rem 0 0;
        padding: 0;

        .todo {
            padding-left: 0.5rem;
            font-size: 0.875rem;
        }
    }
}
