@import '../../styles/colours';
@import '../../styles/properties';
@import '../../styles/variables';
@import '../tag-colours';

.project {
    width: 100%;
    min-width: 0;
    margin: 2rem 0 0;
    padding: 2rem;

    background-color: $off-black;

    @media screen and (min-width: $laptop-first-pixel) {
        padding: 2rem 4rem;
    }

    @media screen and (max-width: $tablet-last-pixel) {
        max-width: 36rem;
    }

    @media screen and (max-width: #{2 * $mobile-first-pixel}) {
        margin: 2rem auto 0;
    }

    .name-grid {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas: 'name state';
        grid-column-gap: 0.5rem;
        align-items: center;

        .name {
            grid-area: name;

            line-height: 1.5rem;
            font-size: 1.25rem;
            font-weight: $bold;
        }

        .state {
            grid-area: state;

            width: fit-content;

            font-size: 0.5rem;
            padding: 0.25rem 0.5rem;
            background-color: $dark-grey;
            text-transform: uppercase;
            font-weight: $bold;
            letter-spacing: 0.0625rem;

            @include state_colours(background-color);
        }
    }

    .keywords {
        margin: 0.5rem 0 0;
        padding: 0;

        list-style: none;

        .keyword {
            display: inline-block;
            margin-right: 0.25rem;
            width: fit-content;

            font-size: 0.5rem;
            padding: 0.25rem 0.5rem;
            background-color: $dark-grey;
            text-transform: uppercase;
            font-weight: $bold;
            letter-spacing: #{ 2 * $one-px};

            @include keyword_colours(background-color);
        }
    }

    .description {
        margin-top: 1rem;

        font-size: 0.875rem;
        letter-spacing: #{ 2 * $one-px};
    }

    .todos-title {
        margin-top: 1rem;

        text-transform: uppercase;
        font-weight: $bold;
        font-size: 0.75rem;
        letter-spacing: #{ 2 * $one-px};
    }

    .todos {
        list-style: none;
        margin: 0.25rem 0 0;
        padding: 0;

        .todo {
            padding-left: 0.5rem;
            font-size: 0.875rem;
        }
    }
}
