@import '../styles/variables';

main.projects-page {
    .projects {
        $column-spacing: 2rem;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: $column-spacing;

        width: 100%;

        @media screen and (max-width: $tablet-last-pixel) {
            grid-template-columns: auto;
            grid-column-gap: 0;
            justify-content: center;
        }
    }
}
