@import '../../styles/colours';
@import '../../styles/properties';
@import '../../styles/variables';

$display-picture-size: 18.5rem;

.quick-info {
    width: 100%;
    margin-top: 2rem;
    padding: 2rem;

    display: grid;
    grid-template-columns: $display-picture-size auto;
    grid-template-areas: 'display-picture info-container';
    grid-column-gap: 4rem;

    background-color: $off-black;

    @media screen and (max-width: $tablet-last-pixel) {
        grid-template-columns: auto;
        grid-template-rows: $display-picture-size auto;
        grid-template-areas: 'display-picture' 'info-container';
        grid-column-gap: 0;
        grid-row-gap: 4rem;
    }

    .display-picture-container {
        grid-area: display-picture;

        height: $display-picture-size;
        width: $display-picture-size;
        margin: auto;

        background-color: $dark-grey;

        img.display-picture {
            object-fit: cover;
        }
    }

    .info-container {
        grid-area: info-container;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .infos {
            .info {
                display: grid;
                grid-template-columns: 6rem auto;
                grid-column-gap: 1rem;
                align-items: center;

                margin-top: 0.5rem;

                &:first-child {
                    margin-top: 0;
                }

                .title {
                    font-size: 1rem;
                    font-weight: $bold;
                    text-transform: uppercase;
                    letter-spacing: $one-px;
                }

                .value {
                    padding: 0.5rem 0;

                    font-size: 1.5rem;
                    font-weight: $bold;
                    border-bottom: $one-px solid $dark-grey;
                }
            }
        }

        .links {
            @media screen and (max-width: $tablet-last-pixel) {
                margin-top: 2rem;
            }

            .link {
                $link-image-size: 1rem;

                display: inline-grid;
                grid-template-columns: $link-image-size auto;
                align-items: center;

                padding: 0.5rem;
                margin-left: 0.5rem;

                background-color: $dark-grey;
                cursor: pointer;
                transition: background-color 300ms;

                &:first-child {
                    margin-left: 0;
                }

                &:hover {
                    background-color: $mid-grey;
                }

                &:active {
                    background-color: $green;
                }

                .link-image-container {
                    height: $link-image-size;
                    width: $link-image-size;
                }

                .link-text {
                    margin: 0 2rem;

                    @media screen and (max-width: 21.25rem) {
                        margin: 0 1rem;
                    }
                }
            }
        }
    }
}
