@import '../styles/colours';

.typewriter {
    .cursor {
        display: inline-block;
        margin-bottom: -0.25rem;
        margin-left: 0.25rem;
        width: 0.125rem;
        height: 1.25rem;
        background-color: $white;
        animation: blink infinite 1000ms;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
